*:not(dialog) {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 0.5fr 5fr 0.3fr;
}

.header {
    background-color: rgb(245, 222, 179);
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.action {
    justify-self: end;
    padding-right: 8vw;
}

.main-content {
    background-color: rgba(158, 140, 117, 0.3);
    display: grid;
    justify-items: center;
    padding: 20px;
    overflow-y: auto;
}

.books-container {
    height: 100%;
    width: 90vw;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 10px;
    justify-content: center;
}

.book-card {
    background-color: burlywood;
    border: 1px solid rgb(193, 154, 107);
    border-radius: 25px;
    min-height: 200px;
    max-height: 300px;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    font-size: 18px;
}

.book-card h2 {
    justify-self: center;
}

.book-card h3 {
    justify-self: end;
}

.book-card h2,
.book-card h3 {
    border-bottom: 1px solid brown;
}

.book-card p {
    justify-self: start;
    padding: 0 20px;
}

.card-actions {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-content: center;
}

.card-actions button {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.card-actions button:first-child {
    background-color: lightcoral;
}

.mark-read {
    background-color: rgb(104, 216, 104);
}

.mark-not-read {
    background-color: rgb(231, 230, 230);
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#addBookButton,
#submitButton {
    background-color: rgb(179, 132, 116);
    padding: 10px 20px;
    border: 1px solid rgb(194, 163, 125);
    border-radius: 10px;
    font-size: 22px;

}

label {
    font-size: 20px;
}

input[type=text],
input[type=number] {
    font-size: 20px;
}

input {
    padding: 0px 5px;
}

dialog {
    border: none;
    border-radius: 10px;
    width: clamp(500px, 25%, 600px);
    height: clamp(600px, 50%, 700px);
    padding: 0;
}

dialog header {
    background-color: rgb(245, 222, 179);
    display: grid;
    gap: 10px;
    padding: 1.2rem;
}

header h1 {
    justify-self: center;
    align-self: center;
    padding-bottom: 10px;
}

header button {
    background-color: lightcoral;
    justify-self: end;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: 1px solid rgb(233, 166, 166);
    border-radius: 10px;
}

.dialog-container {
    background-color: rgba(158, 140, 117, 0.1);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

dialog .form-container {
    padding: 20px;
    display: grid;
    justify-content: center;
}

dialog form>p {
    display: grid;
}

dialog form {
    display: grid;
    width: 100%;
    gap: 10px;
}

dialog form>p label {
    align-self: center;
}

dialog fieldset {
    padding: 10px;
}

fieldset legend {
    font-size: 20px;
}

dialog footer {
    background-color: rgb(245, 222, 179);
    padding: 1.2rem;
    display: grid;
    justify-content: center;
    gap: 15px;
}

::backdrop {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}

.footer {
    background-color: rgb(245, 222, 179);
    display: grid;
    align-items: center;
    justify-items: center;
}